// layout.scss 레이아웃

$ani_time:0.3s;
$box_center:0 auto;

//header
header{
  position:fixed;
  top:0px;left:0px;
  width:100%;height:70px;
  z-index:1000;
  transition: $ani_time;
  > h1{
    padding:24px 0px 0px 2%;
  }
  > .nav_icon{
    position:absolute;
    top:24px;right:10px;
    width:40px;
  }
  > .nav_icon span:last-child{display:none;}
  >span.fas{
    font-size:$t_size_t1;
    color:$txt_color2;
    cursor:pointer;
  }
  >span.fa-user{right:4%;}
  >span.fa-bell{right:2%;}
}

//메인메뉴 서식
header nav{
  width:600px;
  margin:-24px auto;
  //transform:translateY(-24px);
}
header nav .gnb{
  display:flex;
  justify-content: space-around;
}
header nav .gnb a{
  color:$txt_color1;
  font-size:$t_size_m;
}
header nav .gnb a:hover{
  text-decoration:underline;
}

//footer
footer{
  background:$bg_color_g;
  height:177px;
}