@import 'common';

main{
  overflow:hidden;
  clear:both; //header영역에서 혹시 사용된 float속성이 있다면 속성을 해제한다.
  > #movie{
    height:100vh;
    background:$line_color_g;
    > video{width:100%;}
  }
  >#top3{height:1146px; background:springgreen;}
  >#intro{height:923px; background-color: crimson;}
  >#test_drive{height:923px; background-color: slateblue;}
  >#event{height:923px; background-color: goldenrod;}
  >#buy{height:923px; background-color: hotpink;}
  >#customer{height:923px; background-color: green;}
}