//@import 'common';
@use 'layout' as *;
@use 'common' as *;

// 마진값 설정
$m_value:80px;

main{
  overflow:hidden;
  clear:both; //header영역에서 혹시 사용된 float속성이 있다면 속성을 해제한다.
  > #movie{
    height:100vh;
    background:$line_color_g;
    overflow: hidden;
    > video{width:100%;}
    .m_info{
      position:absolute;
      width:100%;
      top:46%;
      z-index:100;
      text-align:center;
      color:$txt_color2;

      > h2{
        font-size:60px;
        text-transform: uppercase;
        font-weight: bold;
      }
      > p{
        line-height: 80px;
        font-size:$t_size_m;
      }
      > a{
        color:$txt_color2;
        font-size: 14px;
        text-decoration:underline;
        margin:0px 20px;
        padding:5px 10px
      }
      // 첫번째 메뉴 서식 배경색 적용
      >a:first-of-type{background: $nav_color02;}
    }
  }
}


//다음페이지로 이동하기 버튼 서식
@mixin arrow_btn{
  border-left:1px solid $txt_color2;
  border-right:1px solid $txt_color2;
  transform: rotate(-45deg);
  width:40px;height:40px;
}
#next_btn{
  // 글자 숨기기
  display:inline-block;
  text-indent:-9999px;
  position:absolute;
  bottom:40px; left:50%;
  transform:translate(-50%,-50%);
}

#top3{padding-bottom:50px;}
#event{height:923px; background-color: goldenrod;}
#buy{height:923px; background-color: hotpink;}
#customer{height:923px; background-color: green;}


//콘텐츠 제목서식
@mixin m_title{
  font-size:$t_size_t2;
  text-align:center;
  font-weight:bold;
  padding:$m_value 0px 10px 0px;
}

// 버튼 서식
@mixin btn(){
  border:1px solid $txt_color1;
  background:$txt_color2;
  padding:8px 26px;
}
.btn{@include btn;}
//top3, intro, test_drive, event, buy
.m_title{
  margin:$m_value 0px 0px 0px;
  @include m_title;
}

// 2. 가장 많이 찾는 캐스퍼 top3
#top3{
  text-align:center;
  >.p01{
    font-size:$t_size_m;
    line-height:50px;
  }
  // slide 서식
  position:relative;
  margin-top:50px;
  padding:20px 0px 50px 0px;
  > .swiper-wrapper{
    width:100%; height:100%;
    .rank{color:#327186;
      border:1px solid #327186;
      padding:6px 30px;
      border-radius:20px;
      font-size:$t_size_ss;
    }
    .top3_title{
      font-size:$t_size_t1;
      font-weight:500;
      padding-top:30px;
      color:$txt_color5;
    }
    // 자동차 사진
    img{
      width:400px;
      padding:$m_value 0px;
    }
    // 디테일 색상정보, 가격정보, 옵션 서식
    .detail{
      border:1px solid #f00;
      display:flex;
      justify-content:center;
      padding-bottom:60px;
      >li{
        width:190px;
        border-right:1px solid $line_color_g;
        padding:0px 20px;
        text-align: left;
        line-height: 20px;
        font-size:$t_size_m;
      }
      >li:last-child{
        border:none;
        padding-top:6px;
      }
      .price{
        font-size:$t_size_t1;
        font-weight: bold;
        color:$txt_color5;
      }
    }
  }
}

// 색상박스
.outer_color, .inner_color{
  display:inline-block;
  width:56px;height:40px;
  text-indent:-9999px;
  //float:left;
  margin-right:10px;
}
.kaki{background:#494b3e;}
.black{background:#000;}
.white{background:#fff; border:1px solid #ccc;}
.orange{background:rgb(190, 86, 0);}

// 스와이퍼 슬라이드 콘트롤 버튼 서식
.swiper-pagination-bullet{
  width:100px !important;
  height:10px !important;
  background:$txt_color4 !important;
  border-radius: 0px !important;
}

#top3 .swiper-button-next::after, #top3 .swiper-button-prev::before{
  color:$txt_color3 !important;
}

//3. 소개페이지
#intro{
  height: 100vh;
  overflow:hidden;
  position:relative;
}
#intro > h2{
  position: absolute; top:-100px;
  width: 100%;z-index: 100;;
}
.intro_title_left,.intro_title_right{
  position:absolute;
  z-index: 100;
  font-size:30px;
  font-weight:500;
  line-height: 40px;
}
.intro_title_left{
  top:150px; //left:130px;
  left:-330px;
}
.intro_title_right{
  bottom: 200px; //right:150px;
  right:-300px;
  text-align:right;
}
#intro video{width: 100%;}
#intro .btn{
  z-index: 1000;
  position:absolute;
  left:50%; top:50%;
  transform: translate(-50%, -50%);}
///4. 시승신청( 체험)
#test_drive{
  display:grid;
  text-align: center;
  >.p01{font-size:$t_size_ss;
  }
  > article{
    width:430px;height:280px;
    border:1px solid $line_color_g;
    padding:15px;
    margin-top: 50px;
    display:inline-block;
    vertical-align: middle;
    >h3{
      font-size:24px;
      padding-top:20px;
      font-weight: bold;
      line-height:34px;
    }
    >p{
      padding:20px 0px;
      line-height:22px;
      margin-bottom:30px;
    }
  }

@mixin btn1{
  padding:10px 60px;
  color:$txt_color2;
  background:$txt_color3;
  line-height:30px;
}
  .test_d_btn1{@include btn1;}
  .test_d_btn2{display:block;
    position:relative;
    top:20px;
    color:$nav_color01;
    font-weight: bold;
  }

}
.test_d_p{transform: translateY(50px);}
.test_drive_r{transform: translateY(64px);}

// 5. 이벤트 콘텐츠 서식
#event{
  text-align:center;
  .p01{font-size:$t_size_ss}
  >h2{}
}

// 6. 구매하기
#buy{
  text-align:center;
  >.p01{
    font-size:$t_size_m;
    line-height:50px;
  }
  h3{
    font-size:$t_size_t2;
    padding:40px 0px 20px 0px;
    font-weight:bold
  }
  .t_color{color:$txt_color4;}
  .buy_info_list{
    display:grid;
    width:1200px;
    margin:0 auto;
    grid-template-columns: repeat(3, 33.333%);
    
    > li{
      padding-top:50px;
      >h4{
        font-size:18px;
        font-weight: bold;
      }
      >img{
        width:800px;
        padding:15px 0px;
      }
      >.p02{
        line-height:20px;
      }
    }
    > li:last-child{
      // 마지막 li는 영상 콘텐츠라서 병합을 해야 함.
      grid-area:3/1/4/4; //행/열/행/열번호
      iframe{
        width:70%;
        height:430px;
      }
    }
  }
}

// 7. 고객지원
#customer{
  background:$bg_color_light_g;
  >article{
    padding:24px 0px;
    width:1200px;
    margin:15px auto;
    background:$txt_color2;
    >h3{
      font-size:18px;
      text-align:center;
      padding:60px 0px 20px 0px;
      font-weight:bold;
    }
    .ars_left{
      border-right:1px solid $line_color_g;
    }
    .ars_left, .ars_right{
      width:50%;
      padding:20px 30px;
      box-sizing: border-box;
      float:left;
      display:flex;
      justify-content: space-around;
      >p{
        display:flex;
        flex-direction: column;
        line-height:30px;
        text-align:center;
        align-items:center;
        > a{color:$nav_color02;}
      }
      >dl{line-height:24px;}
      >dl > dt{font-weight:bold;}
      >dl > dd{color:$line_color_g;}
    }
  }
  strong{
    font-weight:500px;
    font-size:$t_size_m;
  }
  // 아이콘 배경서식
  .car_icon, .member_icon{
    background:url(../images/bg-support-ars.png);
    display:inline-block;
    height:46px;
    text-indent:-9999px;
    margin-top:30px;
  }
  //아이콘 크기 각각 설정, 크기지정함.
  .car_icon{width:75px;}
  .member_icon{
    width:60px;
    background-position:-90px 0px;
    transform: translateY(-30px);
  }
}


// 플로트 속성 해제
.clearfix{
  clear:both;
  content:'';
  display:block;

}